:root {
  --col-primary: #65211f;
  --col-secondary: #ee964b;
  --col-tertiary: #4f5d2f;
  --col-background: #d4f4dd;
  --col-text: #0c0a3e;
}

.zitat {
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem;
}

.card {
  width: calc(50% - 1rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--col-primary);
  text-align: center;
}

.cardImage {
  position: relative;
  width: 100%;
  padding-top: 66.6666%;
}

.cardImageImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
