/* @import url(./style.css); */

:root {
    --col-primary: #65211F;
    --col-secondary: #EE964B;
    /* --col-primary:#4F5D2F; */
    --col-background: #D4F4DD;
    --col-text: #0C0A3E;
}


.hide {
    display: none !important;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    padding: 5px;
}

#openClose {
    font-size: xx-large;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    border: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: var(--col-primary);
}

.menuitemspocket {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
}

.menubox {
    text-align: end;
    background-color: var(--col-secondary);
    font-size: larger;
    padding: 5px;
    border-top: 2.5px dashed var(--col-text);
    border-bottom: 2.5px dashed var(--col-text);
}

.menuboxdesktop{
    text-align: center;
    font-size: larger;
    padding: 10px;
    color: var(--col-secondary);
    background-color: green;
}
.menuitemsdesktop{
    background-color: lightgreen;
    display: flex;
}




@media (min-width: 1200px) {
    .menuitemspocket {
        display: none;
    }

    #openClose {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .menuitemspocket {
        display: none;
    }

    #openClose {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .menuitemspocket {
        display: none;
    }

    #openClose {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menuitemsdesktop {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .menuitemsdesktop {
        display: none;
    }
}