/* @import url(./style.css); */

:root {
  /* --col-primary: #65211f;
  --col-secondary: #ee964b;
  --col-primary:#4F5D2F;
  --col-background: #d4f4dd;
  --col-text: #0c0a3e; */
  --col-nav-background: var(--col-primary);
  --col-nav-text: var(--col-secondary);
}

@media (min-width: 576px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .menu {
    /* display: block; */
    /* display: flex; */
    display: contents;
  }

  .menuicon {
    order: 1;
  }

  .submenu {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    list-style-type: none;
    display: block;
    min-width: 125px;
    width: max-content;
    z-index: 9;
  }

  .menu .submenu .submenu {
    position: absolute;
    left: 100px;
    top: 0px;
  }

  .menu .submenu {
    display: none;
  }

  .menu li {
    position: relative;
    background-color: var(--col-nav-background);
    /* width: min-content; */
  }

  .menu>li {
    order: 0;
  }

  .menu>li:nth-child(2n) {
    order: 2;
  }

  .menu li a:hover {
    filter: brightness(0.8);
  }

  .menu li.dropdown:hover>.submenu {
    display: block;
  }

  .menu li div {
    display: block;
  }

  .submenu li {
    display: block;
    box-shadow: 10px 11px 5px 0px rgba(12, 10, 62, 0.49);
    -webkit-box-shadow: 10px 11px 5px 0px rgba(12, 10, 62, 0.49);
    -moz-box-shadow: 10px 11px 5px 0px rgba(12, 10, 62, 0.49);
  }

  .submenu li div {
    display: block;
  }

  .menu .submenu>li.dropdown:hover>.submenu {
    display: block;
  }

  .menu li.dropdown>div a::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: " \f0d7";
  }

  .submenu li.dropdown>div a::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: " \f0da";
  }

  #openClose {
    display: none;
  }

  .menuicon {
    height: 2.3rem;
  }

  .mobilemenu {
    display: contents;
  }

  .Titel {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .menu {
    position: fixed;
    width: 100%;
    min-height: calc(100vh - 3.3rem);
    z-index: 5;
  }

  .hidefon {
    display: none;
  }

  .mobilemenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuicon {
    height: 3rem;
    padding: 0.15rem;
    padding-left: 1rem;
  }

  .menu li.dropdown>div::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: " \f0d7";
    color: var(--col-nav-text);
    font-size: 1.6rem;
    padding-right: 0.5rem;
  }

  .submenu li.dropdown>div::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: " \f0d7";
    color: var(--col-nav-text);
    font-size: 1.6rem;
    padding-right: 0.5rem;
  }

  .submenu {
    /* margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px; */
    list-style-type: none;
    /* display: block; */
    /* min-width: 125px;
    width: max-content;
    z-index: 9; */
    display: flex;
    flex-direction: column;
  }

  /* .menu .submenu .submenu {
    position: absolute;
    left: 100px;
    top: 0px;
  } */

  .menu .submenu {
    display: none;
  }

  .menu li {
    /* position: relative; */
    background-color: var(--col-nav-background);
    /* width: min-content; */
  }

  .menu li a:hover {
    filter: brightness(0.8);
  }

  .menu li.dropdown:hover>.submenu {
    /* display: block; */
    display: flex;
    flex-direction: column;
  }

  .menu li div {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px var(--col-background) solid; */
  }

  .submenu li {
    /* display: block; */
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
  }

  .menu .submenu>li.dropdown:hover>.submenu {
    /* display: block; */
    display: flex;
    flex-direction: column;
  }

  .menu li.dropdown.open>.submenu {
    /* display: block; */
    display: flex;
    flex-direction: column;
  }

  .menu .submenu>li.dropdown.open>.submenu {
    /* display: block; */
    display: flex;
    flex-direction: column;
  }
}

nav{
  box-shadow: 5px 8px 14px 2px rgba(12, 10, 62, 0.39);
  -webkit-box-shadow: 5px 8px 14px 2px rgba(12, 10, 62, 0.39);
  -moz-box-shadow: 5px 8px 14px 2px rgba(12, 10, 62, 0.39);
  z-index: 1;
}

#openClose {
  height: 3.3rem;
  /* width: 3.3rem; */
  width: 4.3rem;
  font-size: 2rem;
  background-color: var(--col-nav-background);
  color: var(--col-nav-text);
  border: none;
}

.logo {
  height: 100%;
}

.menu {
  list-style: none;
  background-color: var(--col-nav-background);
}

.mobilemenu h1 {
  color: var(--col-background);
}

.menu li div a {
  color: var(--col-nav-text);
  font-size: 1.6rem;
  padding: 0.5rem;
}
.menu li div a:active {
filter: brightness(0.8);
}

/* @media (min-width: 1200px) {
  .menuitemsdesktopitemspocket {
    display: none;
  }

  #openClose {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .menuitemsdesktopitemspocket {
    display: none;
  }

  #openClose {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .menuitemsdesktopitemspocket {
    display: none;
  }

  #openClose {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .menuitemsdesktopitemsdesktop {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .menuitemsdesktopitemsdesktop {
    display: none;
  }
} */