:root {
    --col-primary: #65211F;
    --col-secondary: #EE964B;
    --col-tertiary: #4F5D2F;
    --col-background: #D4F4DD;
    --col-text: #0C0A3E;
}




* {
    padding: 0px;
    margin: 0px;
    font-family: 'OpenSauceOneRegular';
}

h1,
a {
    color: var(--col-text)
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

header {
    background-color: var(--col-secondary);
}

nav {
    background-color: var(--col-primary);
}

section {
    background-color: var(--col-background);
    margin-inline: auto;
    padding-block: 1rem;
    width: calc(100% - 3rem);
    max-width: 70rem;

    box-shadow: 2px 0px 5px 7px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 2px 0px 5px 7px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 2px 0px 5px 7px rgba(0, 0, 0, 0.56);
}





section {
    display: grid;
}

@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (max-width: 575.98px) {
section {
width: 100%;
}
}