:root {
    --col-primary: #65211F;
    --col-secondary: #EE964B;
    --col-tertiary:#4F5D2F;
    --col-background: #D4F4DD;
    --col-text: #0C0A3E;
}




* {
    padding: 0px;
    margin: 0px;
    font-family: 'OpenSauceOneRegular';
}

h1,a{
    color:var(--col-text)
}

body {
    display: flex;
    flex-direction: column;
background-color: var(--col-background);
}

header {
    background-color: var(--col-secondary);
}

nav {
    background-color: var(--col-primary);
}

section {
    background-color: var(--col-background);
}





section {
    display: grid;
}

@media (min-width: 1200px) {
    section {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    section {
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    section {
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    section {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 575.98px) {
    section {
        grid-template-columns: auto;
    }
}